<div class="container">
  <p>{{title}}</p>
 
</div>
<!--  // counter APP code
<button (click)="counter('add')">++</button>
<p>count={{count}}</p>
<button (click)="counter('min')">--</button> -->

<!--
  property binding code
  <input type="text" value={{name}} disabled={{disable}}> -->
<!-- <input type="text" [value]="name" [disabled]="disable"> -->

<!-- ng if condition code -->
<!-- <h1 *ngIf="show; then ifblock else elseblock"></h1>

<ng-template #ifblock>
  <h1>rana</h1>
</ng-template>
<ng-template #elseblock >
  <h1>ali</h1>
</ng-template> -->

<!-- if else if block -->
<!-- 
<ng-template [ngIf]="color==='red'" >
  <h1 style="color: red;">red</h1>
</ng-template>
<ng-template [ngIf]="color==='green'"  >
  <h1 style="color: green;">green</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">blue</h1>
</ng-template> -->
<!-- swicth code -->
<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">red</h1>
  <h1 *ngSwitchCase="'green'" style="color: rgb(0, 255, 81);">red</h1>
  <h1 *ngSwitchCase="'blue'" style="color: rgb(65, 2, 255);">red</h1>
  <h1 *ngSwitchDefault>default</h1>

</div> -->