<div class="container">
  <p>{{ title }}</p>
</div>
<!--  // counter APP code
<button (click)="counter('add')">++</button>
<p>count={{count}}</p>
<button (click)="counter('min')">--</button> -->

<!--
  property binding code
  <input type="text" value={{name}} disabled={{disable}}> -->
<!-- <input type="text" [value]="name" [disabled]="disable"> -->

<!-- ng if condition code -->
<!-- <h1 *ngIf="show; then ifblock else elseblock"></h1>

<ng-template #ifblock>
  <h1>rana</h1>
</ng-template>
<ng-template #elseblock >
  <h1>ali</h1>
</ng-template> -->

<!-- if else if block -->
<!-- 
<ng-template [ngIf]="color==='red'" >
  <h1 style="color: red;">red</h1>
</ng-template>
<ng-template [ngIf]="color==='green'"  >
  <h1 style="color: green;">green</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">blue</h1>
</ng-template> -->
<!-- swicth code -->
<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">red</h1>
  <h1 *ngSwitchCase="'green'" style="color: rgb(0, 255, 81);">red</h1>
  <h1 *ngSwitchCase="'blue'" style="color: rgb(65, 2, 255);">red</h1>
  <h1 *ngSwitchDefault>default</h1>

</div> -->

<!-- ng for loop  -->
<!-- <div>
  <h1 *ngFor="let item of users">{{item}}</h1>
  
  
  <h1 *ngFor="let i of usersdata">{{i.name}} </h1>
  <h1 *ngFor="let i of usersdata"> {{i.id}}</h1>

</div> -->

<!-- nested lopp in angular -->
<!-- <div>
  <ul *ngFor="let user of users">
    <li>Name :{{user.name}}</li>
    <li> Phone:{{user.phone}}</li>
    <li> Social Accounts</li>
    <ul *ngFor="let account of user.socialAccounts">
           <li>{{account}}</li>
    </ul>
</ul>
</div> -->

<!-- style binding -->
<!-- <div>
  <h1 [style.color]="color" [style.backgroundColor]="bgColor">my name is muddassir ali rana</h1>
  <button (click)="updatecolor()">update color</button>

</div> -->

<!-- angular basic form code -->

<!-- <form #basicForm="ngForm" (ngSubmit)="getdata(basicForm.value)">
  <input type="text" ngModel placeholder="user" name="user">
  <br> <br>
  <input type="email" ngModel placeholder="email" name="mail">
  <br> <br>
  <input type="password" ngModel placeholder="user password" name="password">
  <br> <br>
  <button>submit</button>
</form>

<ul>
  <li>{{userdata.user}}</li>
  <li>{{userdata.mail}}</li>
  <li>{{userdata.password}}</li>
</ul> -->

<!-- togele  button code -->
<!-- <button (click)="togle()">toggle</button>
<h1 *ngIf="display">heding</h1> -->

<!-- bootstarp using -->
<!-- <div>
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>

</div> -->

<!-- material ui using -->
<!-- <div>
  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
</div> -->

<!-- todolist code -->
<!-- <div>
  <input type="text" placeholder="enter task" #task>
  <br><br>
  <button (click)="addtask(task.value)">add task</button>

  <ul *ngFor="let i of todos">
    <li>{{i.id}}:{{i.name}}  <button (click)="remove(i.id)">remove</button></li>

  </ul>
</div> -->

<!-- paretn to chid pass data code -->
<!-- <div>
  <app-child [item]="data" ></app-child>
  <button (click)="updatchild()">update child data</button>
</div> -->

<!-- component reuseable -->
<!-- <ul *ngFor="let user of users">
  <app-users [item]="user"></app-users>
</ul> -->

<!-- data send child to parent code -->
<!-- <div>
  <h1>{{data}}</h1>
  <app-child (updateDataEvent)="updateData($event)"></app-child>
</div> -->

<!-- two way binding code -->
<!-- <div>
  <input type="text" [(ngModel)]="name">
  <h1>{{name}}</h1>
</div> -->

<!-- template refrence variable -->
<!-- jo hum input k ander #se id dete hain use hi template refrence kehte hain -->
<!-- <input type="text" #box>
<button (click)="getval(box.value)">get</button> -->

<!-- // // pipes in Angular
  // yeh hamre data ko aik form se dosre form mai transfer karte hain examplae jese apko date k formate ko change karne hai
  // string ko case senitive banana hai pipes html wali file main use hote hain  -->

<!-- <h1>my name is rana | uppercase</h1>
  <h1>{{title | uppercase}}</h1>
  <h1>{{title | lowercase}}</h1>
  <h1>{{today | date:"fullDate"}}</h1> -->

<!-- with out pipe -->
<!-- <h1>{{capFun(title)}}</h1>
   -->
<!-- use two pipes in one element -->
<!-- <h1>{{title | slice:3:6 | uppercase}}</h1> -->
<!-- advance pipes -->
<!-- <h1>{{title | slice:3:6 }}</h1> -->
<!-- <h1>{{user | json }}</h1> -->
<!-- <h1>{{3022.2500 | number :'2.2-3'}}</h1>
<h1>{{3.2 | number :'4.3-5'}}</h1> -->

<!-- <h1>{{52 | currency:'USD'}}</h1> -->

<!-- custom pipe -->
<!-- comamnd ng g p pipe name -->
<!-- <h2> {{100 | usdPkr:120 }}</h2> -->

<!-- forms
there are two types of forms
template driven form  is main work handle html  wali file mai karte hain
reactive form   is main work component wali file main karte hain

-->

<!-- <form #submitForm="ngForm" (ngSubmit)="login(submitForm.value)">
  <input type="text" ngModel name="name" placeholder="enter a Name">
  <br><br>
  <input type="password" ngModel name="password" placeholder="enter a password">
  <br><br>
  <button>submit</button>
</form> -->

<!-- reactive form code -->
<!-- <form [formGroup]="login" (ngSubmit)="loginUser()">
  <input
    type="text"
    name="name"
    placeholder="enter a Name"
    formControlName="name"
  />
  <br /><br />
  <span *ngIf="name && name.invalid && name.touched" style="color: red;">this is invalid</span>
  <br />
  <input
    type="password"
    formControlName="password"
    name="password"
    placeholder="enter a password"
  />
  <br /><br />
  <button [disabled]="login.invalid">submit</button>
</form> -->


<!-- directiv custom -->
<h1>ali</h1>
<h1 appElcolor>ali</h1>
<h1>ali</h1>
<h1 appElcolor>ali</h1>